proj.android/libs/armeabi
proj.android/gen/com
proj.android/obj/local
proj.android/bin
proj.android/assets
/proj.win32/Debug.win32
/proj.android/obj/convert-dependencies.sh
/proj.android/libs
/proj.android/obj